<div class="sessions-recorded-container">
  <div class="sessions-cards-container">
    <mat-card *ngFor="let session of recordedSessions" class="session-card">
      <img [src]="session.image" alt="Imagem da Sessão" class="session-image" />
      <div class="divider"></div>
      <mat-card-header>
        <img [src]="session.studentAvatar" alt="Avatar de {{ session.studentName }}" class="student-avatar" />
        <div class="session-info">
          <mat-card-title class="session-title">
            {{ session.studentName }}
          </mat-card-title>
          <mat-card-subtitle class="session-subtitle">
            Turma: {{ session.className }}
          </mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="action-container">
          <button mat-button class="watch-button" (click)="viewSession(session)">
            Assistir
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
