.students-container {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse; /* Colapsa bordas da tabela */
  }
  
  /* Estilos do cabeçalho */
  mat-header-cell {
    background-color: #4caf50; /* Verde */
    color: white; /* Cor do texto do cabeçalho */
    font-weight: bold;
  }
  
  /* Estilos das células */
  mat-cell {
    padding: 16px;
    text-align: left; /* Alinhamento à esquerda */
    border-bottom: 1px solid #e0e0e0; /* Linha inferior */
  }
  
  /* Estilos alternados para linhas */
  tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo para linhas pares */
  }
  
  tr:hover {
    background-color: #e0f7fa; /* Cor de fundo ao passar o mouse */
  }
  
  /* Estilos para botões de excluir */
  button {
    color: #f44336; /* Vermelho */
  }
  
  /* Estilo para a coluna de média de notas */
  mat-cell:nth-child(5) {
    color: #2196f3; /* Azul para médias de notas */
    font-weight: bold; /* Negrito para médias de notas */
  }
  