<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-toolbar>
        <img src="./assets/images/logo.png" alt="Logo" class="logo" />
        VRCare+
      </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item 
         [routerLink]="['/home']"
         (click)="closeDrawer(drawer)"
         [ngClass]="{'mat-lis t-item-active': isActiveRoute('/home')}">
        <mat-icon class="menu-icon">dashboard</mat-icon>
        Visão Geral
      </a>
      <a mat-list-item 
         [routerLink]="['/sessions-live']"
         (click)="closeDrawer(drawer)"
         [ngClass]="{'mat-list-item-active': isActiveRoute('/sessions-live')}">
        <mat-icon class="menu-icon">live_tv</mat-icon>
        Sessões ao vivo
      </a>
      <a mat-list-item 
         [routerLink]="['/sessions-recorded']"
         (click)="closeDrawer(drawer)"
         [ngClass]="{'mat-list-item-active': isActiveRoute('/sessions-recorded')}">
        <mat-icon class="menu-icon">video_library</mat-icon>
        Sessões gravadas
      </a>
      <a mat-list-item 
         [routerLink]="['/students']"
         (click)="closeDrawer(drawer)"
         [ngClass]="{'mat-list-item-active': isActiveRoute('/students')}">
        <mat-icon class="menu-icon">group</mat-icon>
        Alunos
      </a>
      <a mat-list-item 
         [routerLink]="['/class']"
         (click)="closeDrawer(drawer)"
         [ngClass]="{'mat-list-item-active': isActiveRoute('/class')}">
        <mat-icon class="menu-icon">school</mat-icon>
        Turma
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="app-toolbar">
      <button mat-icon-button *ngIf="isHandset$ | async" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      
      <div class="title-container">
        <span class="app-title">{{ pageTitle }}</span>
      </div>
      <span class="spacer"></span>

      <button mat-icon-button aria-label="Notificações">
        <mat-icon>notifications</mat-icon>
      </button>
      
      <button mat-icon-button aria-label="Perfil">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Colocando o subtítulo abaixo do título na tela -->
    <div class="app-subtitle-container">
      <h2 class="app-subtitle">{{ pageSubtitle }}</h2>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
