/* Ajustes gerais para o sidenav */
.sidenav-container {
  height: 100vh;
  background-color: #f5f7fb;
}

.sidenav {
  width: 280px;
  background-color: #f5f7fb;
  padding: 20px;
  border-right: 1px solid #e0e0e0;
}

.sidenav mat-toolbar {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1976d2; /* Azul principal */
  text-align: center;
  background-color: #f5f7fb;
  margin-bottom: 50px;
}

.list a {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #97afc7; /* Cor do texto no sidenav */
  font-weight: 500;
  text-decoration: none;
}

.menu-icon {
  vertical-align: middle;
  margin-right: 16px;
  font-size: 1.5rem;
  color: #97afc7; /* Ícones azuis */
}

.list a:hover {
  color: #1566b8;
}
.list a:hover .menu-icon {
  color: #1566b8;
}

/* Estilo do item ativo */
.mat-list-item-active {
  color: #1566b8 !important;
}
.mat-list-item-active .menu-icon {
  color: #1566b8; /* Ícones azuis */
}

/* Estilos da barra superior */
.app-toolbar {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: transparent; /* Fundo transparente */
  box-shadow: none;
  z-index: 1;
}

.app-title {
  font-size: 1.5rem;
  color: #0a74da;
}

.spacer {
  flex: 1;
}

.app-subtitle-container {
  padding: 16px; /* Espaçamento */
  text-align: center; /* Centraliza o subtítulo */
}

.app-subtitle {
  font-weight: normal;
  font-size: 1.2rem;
  color: #555; /* Cor do subtítulo */
}

.logo {
  height: 60px; /* Ajuste a altura conforme necessário */
  width: auto; /* Manter proporções */
  margin-right: 20px; /* Espaçamento entre a logo e o texto */
  display: inline-block;
  vertical-align: middle; /* Centralizar verticalmente */
}


/* Ajustes para responsividade */
@media (max-width: 768px) {
  .sidenav {
    width: 100%;
  }
  .sidenav-container {
    height: auto;
  }

  .app-toolbar {
    padding: 8px;
  }

  .app-title {
    font-size: 1.2rem;
    text-align: center;
    flex: 1;
  }

  button.mat-icon-button {
    font-size: 1.5rem;
  }
}
